body{
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    color: white;

    background-image: url("../assets/bayern_münchen_logo.jpg");
    background-size: 2500px 1600px;
    background-position: top;
    background-repeat: no-repeat; 
    background-color: black; 
}

:root{
    font-size: 1.2rem;
}
@media (max-width: 1000px) {
    :root{
    font-size: 2rem;
    }
}    

h1{
    text-align: center;
}

h3{
    text-align: center;
}

ol{
    text-align: center;
    list-style-position: inside;
}

ul{
    text-align: center;
    list-style-position: inside;
}

.deutscher_meister{
    display: block;
    margin: auto;
}

.führung{
    display: block;
    margin: auto;
}

.musiala{
    display: block;
    margin: auto;
}

.mia_san_mia{
    display: block;
    margin: auto;
}

.taktik{
    display: block;
    margin: auto;
}

.zurück{
    text-align: center;
}

a{
    color: white;
}

a:hover{
    color: blue;
}

p{
    text-align: center;
}

footer{
    text-align: center;
}