body{
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
}

:root{
    font-size: 1.2rem;
}
@media (max-width: 1000px) {
    :root{
    font-size: 2rem;
    }
}    

.informationen{
    text-align: center;
}

footer{
    text-align: center;
}

nav{
    text-align: center;
}