body{
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    color: rgb(255, 255, 255);

    background-image: url("../assets/real_madrid_logo.jpg");
    background-size: 3000px 2000px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    background-position: top;
}

:root{
    font-size: 1.2rem;
}
@media (max-width: 1000px) {
    :root{
    font-size: 2rem;
    }
}    

h1{
    text-align: center;
}

h3{
    text-align: center;
}

.erster_absatz{
    text-align: center;
}

ol{
    text-align: center;
    list-style-position: inside;
}

ul{
    text-align: center;
    list-style-position: inside;
}

.legenden_bild{
    display: block;
    margin: auto;
}

.real_madrid_logo{
    display: block;
    margin: auto;
}

.Cl_trophäe{
    display: block;
    margin: auto;
}

.taktik{
    display: block;
    margin: auto;
}

.zurück{
    text-align: center;
}

a{
    color: white;
}

a:hover{
    color: blue;
}

p{
    text-align: center;
}

footer{
    text-align: center;
}